.colaboradorObjectsBody {
  display: flex;
  width: 100vw;
}

.colaboradorDivObjects {
  width: 100%;
}

#colaboradorDivFilter {
  padding: 20px;
  width: 20vw;
}
#colaboradorDivFilter {
  padding: 20px;
  width: 20vw;
}
