.colaboradorObjectsBody {
  display: flex;
  width: 100vw;
}

.colaboradorDivObjects {
  width: 100%;
}

<<<<<<< HEAD
#colaboradorDivFilter {
  padding: 20px;
  width: 20vw;
}
=======
#colaboradorDivFilter{
    padding: 20px;
    width: 20vw;
}
>>>>>>> 7319633947d8dcfcd4b3ade19a14908604475ea2
