.colaboradorObjectsBody {
  display: flex;
  width: 100vw;
}

.colaboradorDivObjects {
  width: 100%;
}

.bodyObjects::-webkit-scrollbar {
  display: none;
}

#colaboradorDivFilter {
  padding: 20px;
  width: 20vw;
}

/* pagina setor, departamento e categoria */

#contentSetor {
  margin-top: 5%;
}

.form-inputs {
  height: 80vh;
}

.divFilterPesquisa {
  margin-bottom: 20px;
  padding: 5px;
  border: solid 2px #0a1d3e;
  border-radius: 5px;
  background-color: transparent;
}

.departamento,
.setores {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
}
