.divObjects{
    background-color: white;
    color: #0a1d3e;
    border-radius: 10px;
    padding: 20px;
    width: 95%;
    margin-left: 2.5%;
    box-shadow: 0px 5px 5px black;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.divObjects:hover{
    opacity: 0.5;
}

.bodyObjects{
 display: block;  
 justify-content: center;
 margin-bottom: 100px;
 width: 100%;
 max-height: 60vh;
 overflow-y: auto;
}

.divObjects div{
    width: 25%;
    text-align: center;
    align-items: center;
    display: grid;
}

.divObjectsNome, .divObjectsDepartamento, .divObjectsChefe{
    justify-content: center;
}

.divObjectsChefe{
    width: 5%;
}

.divObjectsDepartamento{
    width: 30%;
}

.divObjectsNome{
    width: 40%;
}

.divObjectsNome p{
    text-align: left;
}

.divObjectsDepartamento p{
    text-align: left;
}

.divObjectsImagem{
    display: grid;
    justify-content: end;
}

.divObjectsImagem img{
    border-radius: 5px;
}

.cargoDiretor, .cargoChefe{
    color: white;
    border-radius: 35px;
    width: 35px;
    height: 35px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: grid;
    font-size: 12px;
}

.cargoDiretor{
    background-color: #2c521c;
}

.cargoChefe {
    background-color: #7ed957;
}

@media (min-width: 684px){
    .divObjectsChefe{
        width: 25%;
    }

    .divObjectsDepartamento{
        width: 25%;
    }
    
    .divObjectsNome{
        width: 25%;
    }

}

@media (max-width: 684px){
    .divObjectsNome, .divObjectsDepartamento, .divObjectsChefe{
        font-size: 10px;
    }
}