@font-face {
  font-family: "Glacial";
  src: url("fonts/GlacialIndifference-Regular.otf") format(OpenType);
}

* {
  font-family: "Glacial";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d9d9d9;
}
