@font-face {
  font-family: "Glacial";
  src: local("Glacial"),
    url("../src/fonts/GlacialIndifference-Regular.otf") format(OpenType);
}

* {
  font-family: "Glacial Indifference";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
